.cart{
    background-color: rgba(255, 153, 0, 0.3);;
    padding: 25px;
    position: sticky;
    top: 0;
}
.clear-btn{
    width: 95%;
    margin: 10px auto;
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 123, 123);
    color: white;
}
.clear-btn:hover{
    background-color:#ff4b4b ;
}
