.header {
    height: 80px;
    background-color: #1C2B35;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
span{
    color: #FFFFFF;
    margin-left: 5px;
}
nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}
.text-color{
    color:white;
    display: inline;
    margin-left: 10px;
    
}